// Body
$body-bg: #f8fafc;

// Typography

$font-family-title: adobe-garamond-pro, serif;
$font-family-title-ja: "HannariMincho";
$font-family-accent: acuta, serif;
$font-family-text-bold: "YugothB";
$font-family-text: "YugothR";

$main-color: #ffffff;
$sub-color-yellow: #faecb4;
$sub-color-brown: #e3d2d4;
$sub-color-blue: #ebf0f2;
$sub-color-gray: #f9f9f9;

$font-color: #222222;


