/*============
初期設定
=============*/

@charset "UTF-8";

@font-face {
    font-family: "HannariMincho";
    src: url(/public/fonts/HannariMincho.otf);
}
@font-face {
    font-family: "Yugoth";
    src: url(/public/fonts/YuGothR.ttc);
}
@font-face {
    font-family: "YuGothB";
    src: url(/public/fonts/YuGothB.ttc);
}

/*============
  変数定義
=============*/

$breakpoints: (
    "md": "screen and (min-width: 560px)",
    "lg": "screen and (min-width: 900px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/*============
  全体
=============*/

* {
    font-family: $font-family-text;
    line-height: 1.7;
}

.flex {
    display: flex;
}

ul {
    li {
        margin-top: 1.5rem;
        font-family: $font-family-title;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4rem;
    }
}

textarea,
input {
    border: 1px solid $font-color;
    width: 90%;
    outline: none;
    text-align: left;
}

.button {
    border: none;
    display: block;
    width: 100px;
}

.icon {
    a {
        i {
            font-size: 1.5rem;
        }
    }
}

.accent-text {
    font-family: $font-family-accent;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: $sub-color-blue;
    margin-bottom: -1.5rem;
    margin-top: 1rem;
}

.bold {
    font-weight: bold;
}

/*============
  ヘッダー
=============*/

header {
    height: 100vh;
    .header-wrapper {
        .header-top {
            background-color: $sub-color-blue;
            height: 35vh;
            text-align: right;
            img {
                width: 70%;
                height: 100%;
                object-fit: cover;
            }
        }
        .header-center {
            height: 15vh;
            background: linear-gradient(to right, $sub-color-yellow 65%, $sub-color-brown 35%);
            h1 {
                font-family: $font-family-title;
                font-weight: 700;
                font-style: normal;
                font-size: 2rem;
                padding: 0.5rem 0 0 0.5rem;
            }
            p {
                font-family: $font-family-title;
                font-weight: 700;
                font-style: normal;
                font-size: 1.5rem;
                margin: 0 0 0.5rem 0.5rem;
                line-height: 1;
            }
        }
        .header-bottom {
            background-color: $sub-color-blue;
            height: 20vh;
            img {
                width: 45vw;
                height: 100%;
                object-fit: cover;
            }
        }
        .header-text {
            padding: 2rem 1rem 0 1rem;

            h2 {
                font-size: 1.5rem;
                font-family: $font-family-title-ja;
            }
            p {
                margin-top: 1rem;
            }
        }
    }
}

/*============
  heading
=============*/

.heading-wrapper {
    padding: 1.5rem 0 0 1rem;

    .icon {
        margin: 1.5rem 0 0 0.5rem;

        .github-icon {
            margin-top: 0.5rem;
        }
    }
}

/*============
  work
=============*/

.work-wrapper {
    background-color: $sub-color-gray;
    padding-bottom: 6rem;
    .work-list {
        margin-top: 3rem;
        flex-flow: column;
        a {
            text-align: center;
            img {
                width: 90%;
                margin-top: 2rem;
            }
        }
    }
}

/*============
  service
=============*/

.service-wrapper {
    .service-content-wrapper {
        flex-flow: column;
        margin: 1rem 0 0 0;
    }
    .flex {
        margin-bottom: 1rem;
        justify-content: space-between;
    }
    img {
        width: 60px;
        margin-top: 0.5rem;
    }
    .img-wrapper {
        background-color: $sub-color-blue;
        border-radius: 20px;
        width: 80px;
        height: 56px;
    }
    .heading-wrapper {
        background-color: $sub-color-blue;
        padding-right: 1rem;
    }
    .service-content {
        width: 90%;
        margin: 0 auto;
        .flex {
            align-items: flex-end;
        }
    }
    .hearing-wrapper {
        .accent-text {
            text-align: right;
        }
    }
    .design-wrapper {
        .flex {
            flex-flow: row-reverse;
        }
        img {
            margin-left: 1rem;
        }
    }
    .coding-wrapper {
        .accent-text {
            text-align: right;
        }
        img {
            width: 70px;
            height: 1.2;
        }
    }
}

/*============
  about
=============*/

.about-wrapper {
    margin-top: 1rem;
    .heading-wrapper {
        padding-right: 1rem;
    }
    .about-content-wrapper {
        margin-top: 1rem;
        .triangle-wrapper {
            transform: rotate(82deg);
            width: 0;
            margin-left: 9rem;
        }
        .triangle {
            border-right: 70px solid transparent;
            border-bottom: 121.24355px solid $sub-color-yellow;
            border-left: 70px solid transparent;
            display: inline;
            transform: rotate(45deg);
        }
    }
    .about-content-title {
        transform: rotate(0);
    }
    .about-content-img {
        margin-top: 2rem;
        position: relative;
        background-color: $sub-color-yellow;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            border-top: 10vw solid $main-color;
            border-right: 100vw solid transparent;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            top: 4rem;
            left: 0;
            border-top: 10vw solid #faecb4;
            border-right: 100vw solid transparent;
            z-index: 2;
        }

        img {
            width: 100%;
            margin-top: 4rem;
            filter: sepia(30%);
        }
    }
    .about-content {
        width: 90%;
        margin: 0 auto;
        h3 {
            font-size: 1.5rem;
            font-family: $font-family-title-ja;
            margin-top: 3rem;
        }
        h4 {
            margin-bottom: 2rem;
        }

        p {
            width: 100%;
            margin-top: 1rem;
        }
    }
}

/*============
  contact
=============*/

.contact-wrapper {
    margin: 6rem 0 0 1rem;
    .contact-heading {
        margin-top: -2rem;
    }
    .contact-content {
        margin-left: 1rem;
        .contact-text {
            width: 90%;
            margin-left: 1rem;
        }
        form {
            margin-top: 1rem;
            text-align: center;
            p {
                margin: 0.5rem 0 0 1.2rem;
                text-align: left;
            }
        }
    }
}

/*============
  footer
=============*/

.footer-wrapper {
    margin-top: 6rem;
    padding-top: 4rem;
    background-color: $sub-color-gray;
    .icon {
        padding-left: 1rem;
        .github-icon {
            margin-left: 0.5rem;
        }
    }
    .footer-text {
        margin: 0.2rem 0 0.5rem 1rem;
    }
}
