@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*============
初期設定
=============*/

@font-face {
  font-family: "Yugoth";
  src: url(/public/fonts/YuGothR.ttc);
}

@font-face {
  font-family: "YuGothB";
  src: url(/public/fonts/YuGothB.ttc);
}

/*============
  変数定義
=============*/

/*============
  全体
=============*/

* {
  font-family: "YugothR";
  line-height: 1.7;
}

@media screen and (min-width: 560px) {
  span {
    display: inline-block;
  }
}

.flex {
  display: flex;
}

ul li {
  margin-top: 1.5rem;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

textarea,
input {
  border: 1px solid #222222;
  width: 90%;
  outline: none;
  text-align: left;
}

.button {
  border: none;
  display: block;
  width: 100px;
}

.icon a i {
  font-size: 1.5rem;
}

.accent-text {
  font-family: acuta, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: #ebf0f2;
  margin-bottom: -1.5rem;
  margin-top: 1rem;
}

.bold {
  font-weight: bold;
}

.caption {
  font-size: 130%;
  text-align: center;
  padding-top: 5%;
  color: #fff;
  font-size: 0.8rem;
}

@media screen and (min-width: 560px) {
  .caption {
    font-size: 1rem;
  }
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0;
  /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4);
  /* マスクは半透明 */
  transition: all 0.2s ease;
}

.mask:hover {
  opacity: 1;
  /* マスクを表示する */
}

.content-wrapper {
  margin-top: 3rem;
}

/*============
  ヘッダー
=============*/

header {
  height: 100vh;
}

header .header-wrapper .header-top {
  background-color: #ebf0f2;
  height: 35vh;
  text-align: right;
}

@media screen and (min-width: 900px) {
  header .header-wrapper .header-top {
    height: 45vh;
  }
}

header .header-wrapper .header-top img {
  width: 70%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-wrapper .header-center {
  height: 16vh;
  background: linear-gradient(to right, #faecb4 65%, #e3d2d4 35%);
}

@media screen and (min-width: 900px) {
  header .header-wrapper .header-center {
    height: 25vh;
  }
}

header .header-wrapper .header-center h1 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 0.5rem 0 0 0.5rem;
}

@media screen and (min-width: 900px) {
  header .header-wrapper .header-center h1 {
    font-size: 3rem;
  }
}

header .header-wrapper .header-center p {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0.5rem;
  line-height: 1;
}

@media screen and (min-width: 900px) {
  header .header-wrapper .header-center p {
    font-size: 2rem;
  }
}

header .header-wrapper .header-bottom {
  background-color: #ebf0f2;
  height: 20vh;
}

@media screen and (min-width: 900px) {
  header .header-wrapper .header-bottom {
    height: 30vh;
    position: relative;
  }
}

header .header-wrapper .header-bottom img {
  width: 45vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-wrapper .header-text {
  padding: 5vw 1rem 0 1rem;
}

@media screen and (min-width: 900px) {
  header .header-wrapper .header-text {
    position: absolute;
    top: 68vh;
    left: 45vw;
    margin: 0 1rem;
  }
}

header .header-wrapper .header-text h2 {
  font-size: 1.5rem;
  font-family: "Sawarabi Mincho", sans-serif;
}

header .header-wrapper .header-text p {
  margin-top: 1rem;
}

/*============
  heading
=============*/

.heading-wrapper {
  padding: 1.5rem 0 0 1rem;
}

.heading-wrapper li {
  cursor: pointer;
  transition: 0.5s;
}

.heading-wrapper li:hover {
  transform: rotateX(360deg);
}

.heading-wrapper .line {
  border-bottom: solid 1px #222222;
}

.heading-wrapper .icon {
  margin: 1.5rem 0 0 0.5rem;
}

.heading-wrapper .icon .github-icon {
  margin-top: 0.5rem;
}

/*============
  work
=============*/

.work-wrapper {
  background-color: #f9f9f9;
  padding-bottom: 6rem;
}

@media screen and (min-width: 900px) {
  .work-wrapper {
    padding-top: 3rem;
    margin-top: -3rem;
  }
}

.work-wrapper .work-list {
  margin-top: 3rem;
  flex-flow: column;
}

@media screen and (min-width: 560px) {
  .work-wrapper .work-list {
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .work-wrapper .work-list::after {
    content: "";
    display: block;
    width: 50%;
    /* .boxに指定したwidthと同じ幅を指定する */
    height: 0;
  }
}

.work-wrapper .work-list a {
  width: 90%;
  margin: 2rem auto 0 auto;
  position: relative;
}

@media screen and (min-width: 560px) {
  .work-wrapper .work-list a {
    width: 45%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.work-wrapper .work-list a img {
  width: 100%;
}

/*============
  service
=============*/

.service-wrapper .service-content-wrapper {
  flex-flow: column;
  margin: 1rem 0 0 0;
}

@media screen and (min-width: 900px) {
  .service-wrapper .service-content-wrapper {
    flex-flow: inherit;
  }
}

.service-wrapper .flex {
  margin-bottom: 1rem;
  justify-content: space-between;
}

.service-wrapper img {
  width: 60px;
  margin-top: 0.5rem;
}

.service-wrapper .img-wrapper {
  background-color: #ebf0f2;
  border-radius: 20px;
  width: 80px;
  height: 56px;
}

.service-wrapper .heading-wrapper {
  background-color: #ebf0f2;
  padding-right: 1rem;
}

@media screen and (min-width: 900px) {
  .service-wrapper .heading-wrapper {
    padding-top: 4.5rem;
    margin-top: -3rem;
    padding-bottom: 2rem;
  }
}

.service-wrapper .service-content {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .service-wrapper .service-content {
    width: 30%;
  }
}

.service-wrapper .service-content .flex {
  align-items: flex-end;
}

.service-wrapper .hearing-wrapper .accent-text {
  text-align: right;
}

.service-wrapper .design-wrapper .flex {
  flex-flow: row-reverse;
}

@media screen and (min-width: 900px) {
  .service-wrapper .design-wrapper .flex {
    flex-flow: row;
  }
}

@media screen and (min-width: 900px) {
  .service-wrapper .design-wrapper .accent-text {
    text-align: right;
  }
}

.service-wrapper .design-wrapper img {
  margin-left: 1rem;
}

.service-wrapper .coding-wrapper .accent-text {
  text-align: right;
}

.service-wrapper .coding-wrapper img {
  width: 70px;
  height: 1.2;
}

/*============
  about
=============*/

.about-wrapper .heading-wrapper {
  padding-right: 1rem;
}

.about-wrapper .about-content-wrapper {
  margin-top: 1rem;
}

.about-wrapper .about-content-wrapper .triangle-wrapper {
  transform: rotate(82deg);
  width: 0;
  margin-left: 9rem;
}

@media screen and (min-width: 900px) {
  .about-wrapper .about-content-wrapper .triangle-wrapper {
    margin-left: 28vw;
  }
}

.about-wrapper .about-content-wrapper .triangle {
  border-right: 70px solid transparent;
  border-bottom: 121.24355px solid #faecb4;
  border-left: 70px solid transparent;
  display: inline;
  transform: rotate(45deg);
}

.about-wrapper .about-content-title {
  transform: rotate(0);
}

.about-wrapper .about-content-img {
  margin-top: 2rem;
  position: relative;
  background-color: #faecb4;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .about-wrapper .about-content-img {
    margin-top: 0;
  }
}

.about-wrapper .about-content-img::before {
  content: "";
  position: absolute;
  left: 0;
  border-top: 10vw solid #ffffff;
  border-right: 100vw solid transparent;
  z-index: 5;
}

.about-wrapper .about-content-img::after {
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  border-top: 10vw solid #faecb4;
  border-right: 100vw solid transparent;
  z-index: 2;
}

.about-wrapper .about-content-img img {
  width: 100%;
  margin-top: 4rem;
  filter: sepia(30%);
}

@media screen and (min-width: 900px) {
  .about-wrapper .about-content-img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
  }
}

.about-wrapper .about-content {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .about-wrapper .about-content {
    width: 60%;
  }
}

.about-wrapper .about-content h3 {
  font-size: 1.5rem;
  font-family: "Sawarabi Mincho", sans-serif;
  margin-top: 3rem;
}

.about-wrapper .about-content h4 {
  margin-bottom: 2rem;
}

.about-wrapper .about-content p {
  width: 100%;
  margin-top: 1rem;
}

/*============
  skill
=============*/

.skill-wrapper {
  margin-top: 5rem;
}

.skill-wrapper .heading-wrapper {
  background-color: #ffffff;
}

.skill-wrapper .skill-flex {
  margin-top: -2rem;
}

.skill-wrapper .skill-heading {
  background-image: url("/img/skill.png");
  background-repeat: repeat-y;
  background-position: center;
}

.skill-wrapper .skill-content-wrapper {
  margin-top: 2rem;
  margin-bottom: 3rem;
  flex-flow: column;
}

@media screen and (min-width: 560px) {
  .skill-wrapper .skill-content-wrapper {
    flex-flow: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: baseline;
  }
}

.skill-wrapper .skill-content-wrapper .skill-content {
  width: 90%;
  margin: 2rem auto 0 auto;
}

@media screen and (min-width: 560px) {
  .skill-wrapper .skill-content-wrapper .skill-content {
    width: 40%;
  }
}

.skill-wrapper .skill-content-wrapper .skill-content .flex {
  justify-content: space-between;
  align-items: flex-end;
}

.skill-wrapper .skill-content-wrapper .skill-content img {
  width: 50px;
}

.skill-wrapper .skill-content-wrapper .skill-content p {
  margin-top: 0.5rem;
}

.skill-wrapper .background-color {
  height: 100px;
  background-color: #e3d2d4;
}

/*============
  contact
=============*/

.contact-wrapper {
  margin: 6rem 0 0 1rem;
}

.contact-wrapper .contact-heading {
  margin-top: -2rem;
}

.contact-wrapper .contact-content {
  margin-left: 1rem;
}

@media screen and (min-width: 560px) {
  .contact-wrapper .contact-content {
    margin: 0 auto;
  }
}

.contact-wrapper .contact-content .contact-text {
  margin-left: 1rem;
}

.contact-wrapper .contact-content .form {
  margin-top: 1rem;
  text-align: center;
}

.contact-wrapper .contact-content .form p {
  margin: 0.5rem 0 0 1.2rem;
  text-align: left;
}

.contact-wrapper .contact-content .form .button {
  margin: 1rem auto 0 auto;
  text-align: center;
  padding: 0.5rem;
  background-color: #f9f9f9;
}

.contact-wrapper .contact-content .form .button:hover {
  background-color: #ebf0f2;
}

/*============
  footer
=============*/

.footer-wrapper {
  margin-top: 6rem;
  padding-top: 4rem;
  background-color: #f9f9f9;
}

.footer-wrapper .icon {
  padding-left: 1rem;
}

.footer-wrapper .icon .github-icon {
  margin-left: 0.5rem;
}

.footer-wrapper .footer-text {
  margin: 0.2rem 0 0.5rem 1rem;
}

