@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*============
初期設定
=============*/

@font-face {
  font-family: "HannariMincho";
  src: url(/public/fonts/HannariMincho.otf);
}

@font-face {
  font-family: "Yugoth";
  src: url(/public/fonts/YuGothR.ttc);
}

@font-face {
  font-family: "YuGothB";
  src: url(/public/fonts/YuGothB.ttc);
}

/*============
  変数定義
=============*/

/*============
  全体
=============*/

* {
  font-family: "YugothR";
  line-height: 1.7;
}

.flex {
  display: flex;
}

ul li {
  margin-top: 1.5rem;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

textarea,
input {
  border: 1px solid #222222;
  width: 90%;
  outline: none;
  text-align: left;
}

.button {
  border: none;
  display: block;
  width: 100px;
}

.icon a i {
  font-size: 1.5rem;
}

.accent-text {
  font-family: acuta, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: #ebf0f2;
  margin-bottom: -1.5rem;
  margin-top: 1rem;
}

.bold {
  font-weight: bold;
}

/*============
  ヘッダー
=============*/

header {
  height: 100vh;
}

header .header-wrapper .header-top {
  background-color: #ebf0f2;
  height: 35vh;
  text-align: right;
}

header .header-wrapper .header-top img {
  width: 70%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-wrapper .header-center {
  height: 15vh;
  background: linear-gradient(to right, #faecb4 65%, #e3d2d4 35%);
}

header .header-wrapper .header-center h1 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 0.5rem 0 0 0.5rem;
}

header .header-wrapper .header-center p {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0.5rem;
  line-height: 1;
}

header .header-wrapper .header-bottom {
  background-color: #ebf0f2;
  height: 20vh;
}

header .header-wrapper .header-bottom img {
  width: 45vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-wrapper .header-text {
  padding: 2rem 1rem 0 1rem;
}

header .header-wrapper .header-text h2 {
  font-size: 1.5rem;
  font-family: "HannariMincho";
}

header .header-wrapper .header-text p {
  margin-top: 1rem;
}

/*============
  heading
=============*/

.heading-wrapper {
  padding: 1.5rem 0 0 1rem;
}

.heading-wrapper .icon {
  margin: 1.5rem 0 0 0.5rem;
}

.heading-wrapper .icon .github-icon {
  margin-top: 0.5rem;
}

/*============
  work
=============*/

.work-wrapper {
  background-color: #f9f9f9;
  padding-bottom: 6rem;
}

.work-wrapper .work-list {
  margin-top: 3rem;
  flex-flow: column;
}

.work-wrapper .work-list a {
  text-align: center;
}

.work-wrapper .work-list a img {
  width: 90%;
  margin-top: 2rem;
}

/*============
  service
=============*/

.service-wrapper .service-content-wrapper {
  flex-flow: column;
  margin: 1rem 0 0 0;
}

.service-wrapper .flex {
  margin-bottom: 1rem;
  justify-content: space-between;
}

.service-wrapper img {
  width: 60px;
  margin-top: 0.5rem;
}

.service-wrapper .img-wrapper {
  background-color: #ebf0f2;
  border-radius: 20px;
  width: 80px;
  height: 56px;
}

.service-wrapper .heading-wrapper {
  background-color: #ebf0f2;
  padding-right: 1rem;
}

.service-wrapper .service-content {
  width: 90%;
  margin: 0 auto;
}

.service-wrapper .service-content .flex {
  align-items: flex-end;
}

.service-wrapper .hearing-wrapper .accent-text {
  text-align: right;
}

.service-wrapper .design-wrapper .flex {
  flex-flow: row-reverse;
}

.service-wrapper .design-wrapper img {
  margin-left: 1rem;
}

.service-wrapper .coding-wrapper .accent-text {
  text-align: right;
}

.service-wrapper .coding-wrapper img {
  width: 70px;
  height: 1.2;
}

/*============
  contact
=============*/

.contact-wrapper {
  margin: 6rem 0 0 1rem;
}

.contact-wrapper .contact-heading {
  margin-top: -2rem;
}

.contact-wrapper .contact-content {
  margin-left: 1rem;
}

.contact-wrapper .contact-content .contact-text {
  width: 90%;
  margin-left: 1rem;
}

.contact-wrapper .contact-content form {
  margin-top: 1rem;
  text-align: center;
}

.contact-wrapper .contact-content form p {
  margin: 0.5rem 0 0 1.2rem;
  text-align: left;
}

/*============
  footer
=============*/

.footer-wrapper {
  margin-top: 6rem;
  padding-top: 4rem;
  background-color: #f9f9f9;
}

.footer-wrapper .icon {
  padding-left: 1rem;
}

.footer-wrapper .icon .github-icon {
  margin-left: 0.5rem;
}

.footer-wrapper .footer-text {
  margin: 0.2rem 0 0.5rem 1rem;
}

